<head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page_title }}</title>
    <base href="{{site.baseurl}}">
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" >
    <!-- Prefetching, preloading, prebrowsing -->
    <!-- More info: https://css-tricks.com/prefetching-preloading-prebrowsing/ -->
    <link rel="dns-prefetch" href="{{site.baseurl | remove: "https:" }}">
    <link rel="preconnect" href="{{site.baseurl}}">
    <link rel="prefetch" href="{{site.baseurl}}">
    <link rel="prerender" href="{{site.baseurl}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css">

    <script src='../../node_modules/uikit/dist/js/uikit.min.js'></script>
</head>